<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Admin.My.MySettings.BDEmpresaConnectionString" connectionString="Data Source=PCRLM\SQLEXPRESS;Initial Catalog=BDEmpresa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Admin.My.MySettings.BDPGC2008ConnectionString" connectionString="Data Source=PCRLM\SQLEXPRESS;Initial Catalog=BDPGC2008;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Admin.My.MySettings.BDAdminConnectionString" connectionString="Data Source=PCRLM\SQLEXPRESS;Initial Catalog=BDAdmin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Admin.My.MySettings.BDINEConnectionString" connectionString="Data Source=PCRLM\SQLEXPRESS;Initial Catalog=BDINE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Admin.My.MySettings.BDBancosConnectionString" connectionString="Data Source=PCRLM\SQLEXPRESS;Initial Catalog=BDBancos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
