<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="PHP" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files (x86)\PHP\php5.dll" resourceType="Either" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
