<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Contabilidad.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Contabilidad.My.MySettings.BDContabilidadConnectionString"
      connectionString="Data Source=PCRLM\sqlexpress;Initial Catalog=&quot;BDContabilidadGMELO 2017&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Contabilidad.My.MySettings.NUBE" connectionString="Server=tcp:orvxtk6jfu.database.windows.net,1433;Database=BDContabilidadGMELO;User ID=rafa_lopez1@orvxtk6jfu;Password=9906RlmRlm;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add name="ModeloDatos" connectionString="data source=PORTATIL\sqlexpress;initial catalog=&quot;BDContabilidadGMELO 2017&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="BDContabilidadGMELO_2017Entities" connectionString="metadata=res://*/ModeloDatos.csdl|res://*/ModeloDatos.ssdl|res://*/ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string='data source=PORTATIL\sqlexpress;initial catalog=&quot;BDContabilidadGMELO 2017&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="BDContabilidadGMELOEntidades" connectionString="metadata=res://*/ModeloDatos.csdl|res://*/ModeloDatos.ssdl|res://*/ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string='data source=PORTATIL\sqlexpress;initial catalog=&quot;BDContabilidadGMELO 2017&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <Contabilidad.My.MySettings>
      <setting name="NombreBaseDatos" serializeAs="String">
        <value>Nombre Base de Datos</value>
      </setting>
    </Contabilidad.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>